<mat-grid-list [cols]="cols" gutterSize="2rem" rowHeight="650">
  <mat-grid-tile *ngFor="let movie of movies">
    <mat-card class="mat-card">
      <mat-card-title class="cst-mat-card-title">
        <h2>{{ movie.Title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <button color="accent" (click)="openMovieDetails(movie.Description)">
          View Description
        </button>
        <mat-divider class="divider"></mat-divider>
        Director:
        <button color="accent" (click)="openDirector(movie.Director)">
          {{ movie.Director.Name }}
        </button>
        Genre:
        <button color="accent" (click)="openGenre(movie.Genre)">
          {{ movie.Genre.Name }}
        </button>
      </mat-card-subtitle>
      <mat-card-content>
        <img
          mat-card-image
          src="{{ movie.ImagePath }}"
          width="100%"
          alt="{{ movie.Title }}"
        />
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button
          *ngIf="!isFavorite(movie._id)"
          mat-raised-button
          color="primary"
          (click)="addFavorite(movie._id)"
        >
          <mat-icon>favorite</mat-icon>Add Favorite
        </button>
        <button
          *ngIf="isFavorite(movie._id)"
          mat-raised-button
          color="warn"
          (click)="removeFavorite(movie._id)"
        >
          <mat-icon>delete</mat-icon>Remove Favorite
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
