mat-grid-list {
background-color: beige;
height: 100%;
}
.mat-card {
width: 100%;
text-align: left;
// position: absolute;
bottom: 0;
}
.divider {
    margin-top: .5rem;
    margin-bottom: .3rem;
}
.mat-grid-tile {
    overflow: visible;
    width: 100%;
    
}
.mat-card {
    // background-color: rgb(149, 255, 0);
    // border-color: rgb(38, 3, 126);
    // border-style: dashed;
    // border: size 4px;    
    width: 100%;
}
mat-card-title, mat-card-subtitle {
// background-color: red;
padding: 0.5rem;
width: 95%;
}
