* {
    box-sizing: border-box;
font-size: 16px;
}
:host{
    width: 100%;
    height: 100%;
}
.main-page {
    padding: 2rem;
    // TODO Remove CSS 
    background-color: aqua;
}
// Set all headings to sans
h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
}
h2 {
    font-size: 2rem;

}

// Set all other text elements to serif
p, span, a, li {
    font-family: 'IBM Plex Serif', serif;
}

.login-snackbar {
    background-color: lightgray;
    color: greenyellow;
}