<section class="profile-card">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Edit your profile here </mat-card-title>
      <mat-card-subtitle> Fields with "*" are mandatory. </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      This is <strong>{{ user.Username }}'s</strong> current profile.<br />
      Your Name is: <strong>{{ user.Username }}</strong
      >,<br />
      your Email: <strong>{{ user.Email }}</strong><br>And your Birthday if
      provided:
      <strong>{{ user.Birthday | date : 'mediumDate' }}</strong>
      <p>
        <mat-form-field>
          <mat-label>Change Username</mat-label>
          <input
            matInput
            [(ngModel)]="userData.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
            [formControl]="username"
          />
          @if (password.invalid) {
          <mat-error>{{ getErrorMessage(username, 'Username') }}</mat-error>
          }
          <mat-hint> min. five characters long </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Change Password</mat-label>
          <input
            matInput
            [(ngModel)]="userData.Password"
            type="password"
            placeholder="Password"
            name="Password"
            required
            [formControl]="password"
          />
          @if (password.invalid) {
          <mat-error>{{ getErrorMessage(password, 'Password') }}</mat-error>
          }
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Change your Email</mat-label>
          <input
            matInput
            [formControl]="email"
            [(ngModel)]="userData.Email"
            type="email"
            placeholder="no@whe.re"
            name="Email"
            required
          />
          @if (email.invalid) {
          <mat-error>{{ getErrorMessage(email, 'Email') }}</mat-error>
          }
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Set your Birthday</mat-label>
          <input
            matInput
            [(ngModel)]="userData.Birthday"
            type="date"
            placeholder="07.07.1977"
            name="Birthday"
          />
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="updateUser()" color="primary">Update</button>
      <button mat-button (click)="deleteUser()" color="warn">
        Delete User
      </button>
    </mat-card-actions>
  </mat-card>
</section>
