<div class="profile-layout">
  <div class="profile">
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username" 
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
        <mat-hint
        > min. five characters long
      </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          type="email"
          placeholder="Email"
          name="Email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          type="date"
          placeholder="Birthday"
          name="Birthday"
        />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateUser()" color="primary">
      Sign Up
    </button>
  </div>
  <div class="favorites">
    <div>
      <mat-grid-list cols= '4' gutterSize="2rem" rowHeight="650">
        <mat-grid-tile *ngFor="let movie of movies">
          <mat-card class="mat-card">
            <mat-card-title class="cst-mat-card-title">
              <h2>
                {{ movie.Title }}
              </h2></mat-card-title
            >

            <mat-card-content>
              <img
                mat-card-image
                src="{{ movie.ImagePath }}"
                width="100%"
                alt="{{ movie.Title }}"
            /></mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
