<div style="height: 8vh">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>MyFlix</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a
          mat-button
          color="primary"
          routerLink="/movies"
          aria-label="link to all movies"
          ><mat-icon>movies</mat-icon>All Movies</a
        >

        <a
          mat-button
          color="primary"
          routerLink="/favorites"
          aria-label="link to Profile Page"
          ><mat-icon>favorite</mat-icon>Favorites</a
        >

        <a
          color="primary"
          mat-button
          routerLink="/profile"
          aria-label="Link to profile"
        >
          <mat-icon>account_box</mat-icon>Profile
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Menu Item 1</a>

        <a
          mat-list-item
          color="primary"
          routerLink="/movies"
          aria-label="link to all movies"
          ><mat-icon>movies</mat-icon>All Movies</a
        >

        <a
          mat-list-item
          color="primary"
          routerLink="/favorites"
          aria-label="link to Favorites"
          ><mat-icon>favorite</mat-icon>Favorites</a
        >

        <a
          color="primary"
          mat-list-item
          routerLink="/profile"
          aria-label="Link to profile"
        >
          <mat-icon>account_box</mat-icon>Profile
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>main content</mat-sidenav-content>
  </mat-sidenav-container>
</div>
